<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./cs/style.css">
    {{!--  --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
     {{!-- navbar --}}
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class=" resume" href="#">RESUME</a>
   

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item list">
        <a class="nav-link nav-items" href="#about">About me</a>
      </li>
      
      <li class="nav-item list">
        <a class="nav-link nav-items" href="#education">Education</a>
      </li>
      <li class="nav-item list">
        <a class="nav-link nav-items" href="#technical">Technical Skills</a>
      </li>
      <li class="nav-item list">
        <a class="nav-link nav-items" href="#certificate">Certification</a>
      </li>
      <li class="nav-item list">
        <a class="nav-link nav-items" href="#location">Location</a>
      </li>
      
      
    </ul>
    
  </div>

 



</nav>

{{!-- aboutme --}}

 <div class="container-fluid mt-2 box" id="about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto box">
           <h1 class="center-dark ">About Me</h1>
                <div class="container-fluid">
                  <div class="row">
                      {{!-- right --}}
                       <div class="col-md-6 col-12 order-md-0 order-1 box">
                            <h1>HI there!!</h1>
                           <h1>Glad to see you here</h1>
                            <p>my name is Robins and i am 3rd year engineering student,well to be precise i am currently persuing degree in electrical and electronics engineering</p>
                            <p>My friend had introduced me to web development and as i began to understand it more and more,I really fell in love with it</p>
                            <p>It has now become my daily activities, every day i would wake up with new design in my mind</p>
                            <p>i really had no hobbies,i mean there are people who sings ,dance or make a stunning paintings  </p>
                            <p>well i had no such hobbies in particular but now i have finally found one,now i can sit hours and hours creating website just to kill time</p>
                            <p>currently i am building small scale website and also exploring new technologies i wish to become a fine full stack developer</p>
                            <h1>thank you for your time</h1>
                            <h4>appreciate it 😊</h4>
                             
                       </div>
                       {{!-- left --}}
                       <div class="col-md-6 box">
                             <figure>
                                   <img src="images/boy.png" class="img-fluid" alt="Responsive image">
                             </figure>

                       </div>


                  </div>

                </div>

        </div>




    </div>



</div>
{{!-- education --}}

 <div class="container-fluid mt-2 box" id="education">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto box">
           <h1 class="center-dark ">Education</h1>
                <div class="container-fluid">
                  <div class="row">
                      {{!-- right --}}
                       <div class="col-md-6 box">
                             <figure>
                                 <img src="images/read.png" class="img-fluid " id="read" alt="Responsive image">
                             </figure>

                       </div>
                     
                       {{!-- left --}}
                        <div class="col-md-6 col-12 order-md-0 order-1 box">
                             <h4>B.tech in Electrical and Electronics Engineering</h4>
                             <h6>Dayananda Sagar college of Engineering cgpa 8.1(currently persuing)graduation year 2022</h6>
                             <h4>Senior Secondary Examination class-XII</h4>
                             <h6>Maa Bharti Sr.secondary School,Kota,percentage:70%</h6>
                             <h4>Higher Secondary Examination-Class X </h4>
                             <h6>Maa Bharti Sr.secondary School,Kota,cgpa:10.</h6>

                            
                       </div>


                  </div>

                </div>

        </div>




    </div>



</div>
 {{!-- tech --}}

<div class="container-fluid mt-3 box" id="technical">

    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1 class="center-dark ">technical skills</h1>
          <div class="container mt-1"> 
              <div class="row">
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">

                         <img src="images/html.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">

                         <img src="images/css.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">

                         <img src="images/js.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">

                         <img src="images/nodejs.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>

              </div>


          </div>
          <div class="container mt-5"> 
              <div class="row">
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">
                         <img src="images/bootstrap.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">
                         <img src="images/express.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">
                         <img src="images/mongodb.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-3 smal-boxes">
                     <div class="dabba">
                         <img src="images/wordpress.png" class="img-fluid" alt="Responsive image">
                     </div>
                 </div>

              </div>


          </div>


        </div>



    </div>



</div>


{{!-- certificcate --}}
 
      <div class="container mt-5" id="certificate"> 
          <div class="row">
            <div class="col-md-10 mx-auto">

                <h1 class="center-dark ">certificate-courses</h1>
          
              <div class="row">
                  
                 <div class="col-md-4  certificate-box">
                     <div class="certificates">
                         <img src="images/coursera2.png" class="img-fluid achivement" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-4  certificate-box">
                     <div class="certificates">
                          <img src="images/freecode.png" class="img-fluid achivement" alt="Responsive image">
                     </div>
                 </div>
                 <div class="col-md-4  certificate-box">
                     <div class="certificates">
                           <img src="images/udemy.png" class="img-fluid achivement" alt="Responsive image">
                     </div>
                 </div> 
        
              </div>
            </div>
            </div>
          </div>

{{!-- location --}}

<div class="container-fluid mt-5" id="location">
    <h1 class="center-dark ">MY-location</h1>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497699.9973874144!2d77.34937092802295!3d12.953847725577742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1620395385565!5m2!1sen!2sin" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>


{{!-- footer --}}
<div class="bottom mt-5">
<p>to contact please send an email to <a class="dark" href="#"> robinsranjan007@gmail.com ❤</a></p>

</div>


     {{!-- js --}}
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>